html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*,*:before,*:after{
    box-sizing:border-box;
    margin-right:0 auto;
    margin-left: 0 auto;
}


body{
    font-family: "Noto Sans TC";
    .header{
        max-width: 1920px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        background-color: #9F1213;
        padding-left:16.25%;
        padding-right:16.25%;
        margin-bottom: 80px;
        
    
        img{
            width: 80px;
            padding-top: 12px;
            padding-bottom: 12px;

        }
        .menu{
            width:550px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            li{
                font-size: 20px;
                text-align: center;
                a{
                color: white; 
                text-decoration: none;
                }
            } 
        }
    }

    .content{
        display: flex;
        padding-left:16.25%;
        padding-right:16.25%;
        margin-bottom: 80px;
        .branches-location{
            display: flex;
            flex-direction: column;
            
            
            h2{
                width: 100%;
                font-size: 48px;
                display: flex;
                padding-left: 16px;
                padding-top:5px;
                padding-bottom:5px;
                
                font-weight: bolder ;
                border-left: #9F1213 7px solid;
            }
            
            .branches-choose{
                width:100%;
                display: flex;
                align-items: center;
                padding-top: 32px;
                padding-bottom:40px;
                .choose{
                    font-size: 24px;
                }
                .drop {
                    
                    position: relative;
                    display: block;
                    width: 304px;

                    padding-left: 10px;
                    span{
                        font-size: 18px;
                    }
                    &:hover {
                      .dropOption {
                        display: block;
                      }
                    }
                    &:hover {
                      .dropdown {
                        display: block;
                      }
                    }
                    &:hover {
                      .dropdown.close {
                        display: none;
                      }
                    }
                    .dropOption {
                      position: relative;
                      width: auto;
                      color: #666;
                      font-size: 18px;
                      background-color: #fff;
                      padding: 6px;
                      border: 1px solid lightgray;
                      border-radius: 2px;
                      box-sizing: border-box;
                      cursor: pointer;
                      &::after {
                        content: "";
                        position: absolute;
                        top: 12px;
                        right: 12px;
                        border-width: 8px 6px;
                        border-style: solid;
                        border-color: #000 transparent transparent transparent;
                      }
                    }
                    .dropdown {
                      display: none;
                      width: 97%;
                      max-height: 185px;
                      position: absolute;
                      color: #333;
                      padding: 0;
                      margin: 0;
                      background-color: #f9f9f9;
                      box-shadow: 0px 2px 3px 0px #ccc;
                      border-radius: 2px;
                      box-sizing: border-box;
                      overflow: auto;
                      z-index: 10;
                      > li {
                        display: block;
                        color:#666;
                        font-size: 18px;
                        margin:  2px;
                        padding: 5px;
                        cursor: pointer;
                        &:first-child {
                        }
                        &:last-child {
                          
                        }
                        &:hover {
                          background-color: lighten(gray,40%);
                          color: #333;
                          border-radius: 2px;
                          
                        }
                      }
                      &::-webkit-scrollbar {
                        width: 15px;
                      }
                      &::-webkit-scrollbar-track {
                        background-color: #eee;
                        border-radius: 2px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background-color: #888;
                        &:active{
                            background-color: #777;
                        }
                        border-radius: 5px;
                      }
                      
                    }
                  }
            }
            .location{
                display: flex;
                justify-content: space-between;
                .location1{
                    
                    max-width: 42.92%;
                    
                .branch1{
                   
                    font-size: 24px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 24px;
                    border: 2px lightgray solid;
                    border-bottom: 3px lightgray solid;
                    max-width:100%;
                    
                }
                img{
                    max-width:95.5%;
                    
                }
                .info{
                    max-width: 95.5%;
                    ul{
                        border:2px lightgray solid;
                        border-top: none;
                        padding-top: 16px;
                        padding-left: 24px;
                        padding-bottom: 16px;
                        max-width:100%;
                        
                        .info-phone,.info-mail,.info-address{
                            display: flex;
                            .material-symbols-outlined{
                                width: 18px;
                                padding-top: 10px;
                                padding-right: 30px;
                            }
                            li{
                                padding-top: 7px;
                                font-size: 20px;
                            }
                        }
                        
                
                    }
                }
            }
                .map{
                    img{
                        max-width: 100%;
                    }
             
                } 
            }
        }
    }
    .footer{
        max-width: 1920px;
        background-color: #9F1213;
        padding-left:16.25%;
        padding-right:16.25%;
        height: 353px;
        .footer-title{
            display: flex;
            justify-content: space-between;
            padding-top: 48px;
        .menu{
            color: white;
            display: flex;
            align-items: center;
                width: 500px;
                justify-content: space-between;
                display: flex;
                align-items: center;
            li{
                a{
                    font-size: 16px;
                    color: white; 
                    text-decoration: none;
                    }
            
        }
        }
        .conect-logo{
            ul{
                
                display: flex;  
                width: 288px;
                li{
                    text-align: right;
                }
            img{
                width:50%;
            }
        }
            
        }
        }
    
        .footer-info{
            padding-bottom: 20px;
            border-bottom: 1px solid #CED4DA;
            li{
                color: white;
                font-size: 36px;
                padding-bottom: 8px;
                padding-top: 24px;
            }
            a{
                color: white;
                text-decoration: none;
                padding-right: 22px;
                align-items: center;
                
                &:hover{
                    color: #CED4DA;
                }
            }
            .material-symbols-outlined{
                padding-right: 10px;
                padding-bottom: 8px;
                font-size: 36px;
            }
        }
        .copyright{
            color: white;
            display: flex;
            padding: 32px 0 32px 0;
            justify-content: space-between;

            p{
                font-size: 16px;
            }

            .privacy{
                display: flex;
                
                
                ul{
                    display: flex;
                    justify-content: space-between;
                    width: 170px;
                    li{
                        a{
                            color: white;
                            font-size: 14px;
                            text-decoration: none;
                            &:hover{
                                color: #CED4DA;
                            }
                        }
                    }
                }
            }
        }
    }

        @media (max-width: 768px){
            .header{
                  
                height: 80px;
                display: flex;
                justify-content: space-between;
                background-color: #9F1213;
                padding-left:4.82%;
                padding-right:4.82%;
                margin-bottom: 80px;
                
            
                img{
                    width: 80px;
                    padding-top: 12px;
                    padding-bottom: 12px;
        
                }
                .menu{
                    width:550px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    li{
                        font-size: 20px;
                        text-align: center;
                        a{
                        color: white; 
                        text-decoration: none;
                        }
                    } 
                }
            }

            .content{
                display: flex;
                padding-left:4.82%;
                padding-right:4.82%;
                margin-bottom: 80px;
                .branches-location{
                    display: flex;
                    flex-direction: column;
                    
                    
                    h2{
                        width: 100%;
                        font-size: 48px;
                        display: flex;
                        padding-left: 16px;
                        padding-top:5px;
                        padding-bottom:5px;
                        
                        font-weight: bolder ;
                        border-left: #9F1213 7px solid;
                    }
                    
                    .branches-choose{
                        width:100%;
                        display: flex;
                        align-items: center;
                        padding-top: 32px;
                        padding-bottom:40px;
                        .choose{
                            font-size: 24px;
                        }
                        .drop {
                            
                            position: relative;
                            display: block;
                            width: 304px;
        
                            padding-left: 10px;
                            span{
                                font-size: 18px;
                            }
                            &:hover {
                              .dropOption {
                                display: block;
                              }
                            }
                            &:hover {
                              .dropdown {
                                display: block;
                              }
                            }
                            &:hover {
                              .dropdown.close {
                                display: none;
                              }
                            }
                            .dropOption {
                              position: relative;
                              width: auto;
                              color: #666;
                              font-size: 18px;
                              background-color: #fff;
                              padding: 6px;
                              border: 1px solid lightgray;
                              border-radius: 2px;
                              box-sizing: border-box;
                              cursor: pointer;
                              &::after {
                                content: "";
                                position: absolute;
                                top: 12px;
                                right: 12px;
                                border-width: 8px 6px;
                                border-style: solid;
                                border-color: #000 transparent transparent transparent;
                              }
                            }
                            .dropdown {
                              display: none;
                              width: 97%;
                              max-height: 185px;
                              position: absolute;
                              color: #333;
                              padding: 0;
                              margin: 0;
                              background-color: #f9f9f9;
                              box-shadow: 0px 2px 3px 0px #ccc;
                              border-radius: 2px;
                              box-sizing: border-box;
                              overflow: auto;
                              z-index: 10;
                              > li {
                                display: block;
                                color:#666;
                                font-size: 18px;
                                margin:  2px;
                                padding: 5px;
                                cursor: pointer;
                                &:first-child {
                                }
                                &:last-child {
                                  
                                }
                                &:hover {
                                  background-color: lighten(gray,40%);
                                  color: #333;
                                  border-radius: 2px;
                                  
                                }
                              }
                              &::-webkit-scrollbar {
                                width: 15px;
                              }
                              &::-webkit-scrollbar-track {
                                background-color: #eee;
                                border-radius: 2px;
                              }
                              &::-webkit-scrollbar-thumb {
                                background-color: #888;
                                &:active{
                                    background-color: #777;
                                }
                                border-radius: 5px;
                              }
                              
                            }
                          }
                    }
                    .location{
                        display: flex;
                        flex-direction: column;
                        .location1{
                            display: flex;
                            max-width: 100%;
                            padding-bottom: 24px;
                        .branch1{
                           
                            font-size: 24px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 24px;
                            border: 2px lightgray solid;
                            border-bottom: 3px lightgray solid;
                            max-width:100%;
                            
                        }
                        img{
                            max-width:51%;
                            padding-right: 3.63%;
                            
                        }
                        .info{
                            max-width: 95.5%;
                            ul{
                                border:2px lightgray solid;
                                border-top: none;
                                padding-top: 16px;
                                padding-left: 24px;
                                
                                padding-bottom: 16px;
                                max-width:100%;
                                
                                .info-phone,.info-mail,.info-address{
                                    display: flex;
                                    .material-symbols-outlined{
                                        width: 18px;
                                        padding-top: 10px;
                                        padding-right: 30px;
                                    }
                                    li{
                                        padding-top: 7px;
                                        font-size: 20px;
                                    }
                                }
                                
                        
                            }
                        }
                    }
                        .map{
                            img{
                                max-width: 100%;
                            }
                     
                        } 
                    }
                }
            }
            .footer{
                background-color: #9F1213;
                padding-left:4.82%;
                padding-right:4.82% ;
                height: 353px;
                .footer-title{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 48px;
                .menu{
                    color: white;
                    display: flex;
                    align-items: center;
                        width: 368px;
                        justify-content: space-between;
                        display: flex;
                        align-items: center;
                    li{
                        a{
                            font-size: 16px;
                            color: white; 
                            text-decoration: none;
                            }
                    
                }
                }
                .connect-logo{
                    ul{
                        display: flex;  
                        width: 152px;
                        li{
                            text-align: right;
                        }
                    img{
                        width:79%;
                    }
                }
                    
                }
                }
            
                .footer-info{
                    padding-bottom: 20px;
                    border-bottom: 1px solid #CED4DA;
                    li{
                        color: white;
                        font-size: 36px;
                        padding-bottom: 8px;
                        padding-top: 24px;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        padding-right: 22px;
                        align-items: center;
                        
                        &:hover{
                            color: #CED4DA;
                        }
                    }
                    .material-symbols-outlined{
                        padding-right: 10px;
                        padding-bottom: 8px;
                        font-size: 36px;
                    }
                }
                .copyright{
                    color: white;
                    display: flex;
                    padding: 40px 0 40px 0;
                    justify-content: space-between;
        
                    p{
                        font-size: 16px;
                    }
        
                    .privacy{
                        display: flex;
                        
                        
                        ul{
                            display: flex;
                            justify-content: space-between;
                            width: 170px;
                            li{
                                a{
                                    color: white;
                                    font-size: 14px;
                                    text-decoration: none;
                                    &:hover{
                                        color: #CED4DA;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }
}